@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --eventim-background: #202867;
  --eventim-secondary: #feca27;
  --primary-brand-color: #139df4;
  --secundary-brand-color: #139df4;
  --tertiary-brand-color: #139df4;
  --fourth-brand-color: #139df4;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme eventim {
    --eventim-background: #202867;
    --eventim-secondary: #feca27;
    --primary-brand-color: #139df4;
    --secundary-brand-color: #139df4;
    --tertiary-brand-color: #139df4;
    --fourth-brand-color: #139df4;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.nav {
    background-color: var(--eventim-background);
    color: #fff;
}

.cart {
  width: 48px;
  height: 48px;
  color: var(--eventim-background);
}

.image-container {
  height: 200px;
  width: 200px;

  &.small {
    height: 100px;
    width: 100px;
  }

  img {
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 100%;
  }
}

.description {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    max-height: 70px;
}

.loading-spinner {
  .spinner-base { stop-color: #dfdfdf; }
  .spinner-color { stop-color: var(--primary-brand-color); }
}

@keyframes spin {
      0% {
        transform: none;
        will-change: transform;
    }
    100% {
        transform: rotate(360deg);
        will-change: transform;
    }
}

.spingrad {
  transform-origin: 50% 50%;
  animation: spin 2s linear infinite;
}

.cart-button {
  width: 36px;
  height: 36px;
}