@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --eventim-background: #202867;
  --eventim-secondary: #feca27;
  --primary-brand-color: #139df4;
  --secundary-brand-color: #139df4;
  --tertiary-brand-color: #139df4;
  --fourth-brand-color: #139df4;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme eventim {
    --eventim-background: #202867;
    --eventim-secondary: #feca27;
    --primary-brand-color: #139df4;
    --secundary-brand-color: #139df4;
    --tertiary-brand-color: #139df4;
    --fourth-brand-color: #139df4;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.nav {
    background-color: var(--eventim-background);
    color: #fff;
}

.cart {
  width: 48px;
  height: 48px;
  color: var(--eventim-background);
}